# ==============================================================
# .gitignore — WCVcoinMTB / WoldVirtual3D p2p
# ==============================================================

# Visual Studio / VS Code
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build outputs
[Bb]in/
[Oo]bj/
Capa3_Visor/CapaVisor3D/bin/
Capa3_Visor/CapaVisor3D/obj/
Capa3_Visor/ServidorVirtualCS/bin/
Capa3_Visor/ServidorVirtualCS/obj/

# Local IPFS tools and cache
scripts/ipfs/
scripts/kubo_ipfs.zip

# Wallet (ignored because it is stored in IPFS)
Capa3_Visor/CapaVisor3D/www/WalletWoldVirtual/
